In [1]:
alter database ecolab_books_db set single_user with rollback immediate
drop database ecolab_books_db

In [2]:
create database ecolab_books_db

In [3]:
use ecolab_books_db

In [5]:

CREATE TABLE BOOKS(

    id VARCHAR(100) NOT NULL PRIMARY KEY,

    title VARCHAR(100) NOT NULL,

    author VARCHAR(100) NOT NULL,

    price INT DEFAULT(0)

)


CREATE TABLE REVIEWS(

    id INT IDENTITY PRIMARY KEY,

    book_id VARCHAR(100) NOT NULL FOREIGN KEY REFERENCES BOOKS(id) ON DELETE CASCADE ON UPDATE CASCADE,

    rating INT NOT NULL

)


INSERT  

 

    INTO BOOKS(ID,TITLE,AUTHOR,PRICE)

 

    VALUES('the-accursed-god','The Accursed God','Vivek Dutta Mishra',399)

 

 

 


INSERT  

 

    INTO  

 

        BOOKS(ID,TITLE,AUTHOR,PRICE)

 

    VALUES

 

        ('kane-and-abel','Kane and Abel','Jeffrey Archer',450),

 

        ('rashmirathi','Rashmirathi','Ramdhari Singh Dinkar',190),

 

        ('sons-of-fortune','Sons of Fortune','Jeffrey Archer',450),

 

        ('manas','Manas','Vivek Dutta Mishra',199),

 

        ('summons','Summons','John Grisham',250),

 

        ('five-point-someone','Five Point SomeOne','Chetan Bhagat',250),

 

        ('scion-of-ikshavaku','The Scion of Ikshavaku','Amish',300),

 

        ('kurukshetra','Kurukshetra','Ramdhari Singh Dinkar',450);

In [11]:

INSERT INTO  

 

    reviews( book_id, rating)

 

VALUES

 

    ('the-accursed-god',4),

 

    ('kane-and-abel',4),

 

    ('the-accursed-god',5),

 

    ('kane-and-abel',4),

 

    ('kane-and-abel',3),

 

    ('kane-and-abel',3),

 

    ('the-accursed-god',4),

 

    ('kane-and-abel',5),

 

    ('kane-and-abel',5),

 

    ('kane-and-abel',3),

 

    ('the-accursed-god',5),

 

    ('the-accursed-god',5),

 

    ('the-accursed-god',5),

 

    ('the-accursed-god',5),

 

    ('kane-and-abel',4),

 

    ('the-accursed-god',5),

 

    ('kane-and-abel',3),

 

    ('rashmirathi',5),

 

    ('rashmirathi',4),

 

    ('rashmirathi',5),

 

    ('rashmirathi',5),

 

    ('rashmirathi',5),

 

    ('harry-potter-1',5),

 

    ('harry-potter-2',3),

 

    ('harry-potter-2',3),

 

    ('harry-potter-3',4),

 

    ('harry-potter-3',4),

 

    ('harry-potter-1',5),

 

    ('harry-potter-4',5),

 

    ('harry-potter-4',4),

 

    ('harry-potter-5',2),

 

    ('harry-potter-6',4),

 

    ('harry-potter-6',5),

 

    ('harry-potter-6',3),

 

    ('harry-potter-7',4),

 

    ('five-point-someone',4),

 

    ('five-point-someone',2),

 

    ('five-point-someone',2),

 

    ('five-point-someone',1),

 

    ('harry-potter-7',4),

 

    ('harry-potter-7',4),

 

    ('harry-potter-4',3),

 

    ('five-point-someone',2),

 

    ('five-point-someone',3),

 

    ('five-point-someone',3),

 

    ('five-point-someone',1),

 

    ('harry-potter-1',4),

 

    ('harry-potter-3',2),

 

    ('harry-potter-2',5),

 

    ('harry-potter-2',5),

 

    ('scion-of-ikshavaku',4),

 

    ('harry-potter-1',4),

 

    ('harry-potter-1',3),

 

    ('scion-of-ikshavaku',2),

 

    ('harry-potter-2',4),

 

    ('harry-potter-5',4),

 

    ('scion-of-ikshavaku',2),

 

    ('harry-potter-6',3),

 

    ('harry-potter-7',5),

 

    ('harry-potter-1',5),

 

    ('manas',5),

 

    ('manas',5),

 

    ('manas',5),

 

    ('scion-of-ikshavaku',3),

 

    ('manas',5),

 

    ('manas',4),

 

    ('manas',5),

 

    ('scion-of-ikshavaku',2),

 

    ('manas',5),

 

    ('manas',5),

 

    ('kurukshetra',5),

 

    ('kurukshetra',2),

 

    ('kurukshetra',3),

 

    ('scion-of-ikshavaku',3),

 

    ('kurukshetra',3),

 

    ('kurukshetra',3),

 

    ('kurukshetra',3),

 

    ('sons-of-fortune',3),

 

    ('sons-of-fortune',4);

In [12]:
INSERT  

 

    INTO  

 

        BOOKS(ID,TITLE,AUTHOR,PRICE)

 

    VALUES

 

        ('harry-potter-1','Harry Potter and the Soccers Stone','JK Rowlings',250),

 

        ('harry-potter-2','Harry Potter and the Chambers of Secrets','JK Rowlings',350),

 

        ('harry-potter-3','Harry Potter and the Prisoner of Askaban','JK Rowlings',350),

 

        ('harry-potter-4','Harry Potter and the Goblet of Fire','JK Rowlings',450),

 

        ('harry-potter-5','Harry Potter and the Order of Phoenix','JK Rowlings',450),

 

        ('harry-potter-6','Harry Potter and the Half Blood Prince','JK Rowlings',450),

 

        ('harry-potter-7','Harry Potter and the Deathly Hollows','JK Rowlings',350);

: Msg 2627, Level 14, State 1, Line 1
Violation of PRIMARY KEY constraint 'PK__BOOKS__3213E83FF939E1A3'. Cannot insert duplicate key in object 'dbo.BOOKS'. The duplicate key value is (harry-potter-1).

In [13]:
SELECT count(*) from books;

SELECT count(*) from reviews;

(No column name)
16

(No column name)
79

In [31]:

select  

   

    author,

    title,

    rating,

    votes

from books as b,

    (   select book_id as id,

        count(*) as votes,

        round(avg(cast(rating as float)),1) as rating

        from reviews

        group by book_id

    ) as r

 

    where b.id = r.id

author,title,rating,votes
Chetan Bhagat,Five Point SomeOne,2.3,8
JK Rowlings,Harry Potter and the Soccers Stone,4.3,6
JK Rowlings,Harry Potter and the Chambers of Secrets,4,5
JK Rowlings,Harry Potter and the Prisoner of Askaban,3.3,3
JK Rowlings,Harry Potter and the Goblet of Fire,4,3
JK Rowlings,Harry Potter and the Order of Phoenix,3,2
JK Rowlings,Harry Potter and the Half Blood Prince,3.8,4
JK Rowlings,Harry Potter and the Deathly Hollows,4.3,4
Jeffrey Archer,Kane and Abel,3.8,9
Ramdhari Singh Dinkar,Kurukshetra,3.2,6
Vivek Dutta Mishra,Manas,4.9,8
Ramdhari Singh Dinkar,Rashmirathi,4.8,5
Amish,The Scion of Ikshavaku,2.7,6
Jeffrey Archer,Sons of Fortune,3.5,2
Vivek Dutta Mishra,The Accursed God,4.8,8

In [30]:
SELECT
    title,
    author
FROM 
    BOOKS,
    (
        SELECT
            book_id as Book_ID,
            COUNT(*) as Votes,
            ROUND(AVG(CAST(rating as float)), 1) as Rating
        FROM
            Reviews
        GROUP BY
            book_id
    ) as r
WHERE
    id = r.Book_ID
GROUP BY
    author;

: Msg 8120, Level 16, State 1, Line 2
Column 'BOOKS.title' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.

### **ASSIGNMENT 13**

In [38]:
SELECT
    author,
    COUNT(*) as books_written,
    SUM(r.Votes) as total_votes,
    ROUND(AVG(CAST(r.Rating as float)),1) as Average_Rating
FROM 
    BOOKS,
    (
        SELECT
            book_id as Book_ID,
            COUNT(*) as Votes,
            ROUND(AVG(CAST(rating as float)), 1) as Rating
        FROM
            Reviews
        GROUP BY
            book_id
    ) as r
WHERE
    id = r.Book_ID
GROUP BY
    author;

author,books_written,total_votes,Average_Rating
Amish,1,6,2.7
Chetan Bhagat,1,8,2.3
Jeffrey Archer,2,11,3.6
JK Rowlings,7,27,3.8
Ramdhari Singh Dinkar,2,11,4
Vivek Dutta Mishra,2,16,4.8