### **ASSIGNMENT 14.1**

In [2]:
CREATE DATABASE book_reviews;

In [3]:
use book_reviews

In [7]:
CREATE TABLE Publishers (
    publisher_id INT IDENTITY PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    address VARCHAR(255),
    website VARCHAR(255)
);

CREATE TABLE Books (
    book_id INT IDENTITY PRIMARY KEY,
    title VARCHAR(255) NOT NULL,
    cover VARCHAR(255),
    publisher_id INT,
    FOREIGN KEY (publisher_id) REFERENCES Publishers(publisher_id)
);


CREATE TABLE Reviewers (
    reviewer_id INT IDENTITY PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    email VARCHAR(255) UNIQUE
);

CREATE TABLE Reviews (
    review_id INT IDENTITY PRIMARY KEY,
    reviewer_id INT,
    book_id INT,
    title VARCHAR(255) NOT NULL,
    details TEXT,
    rating INT CHECK (rating BETWEEN 1 AND 5),
    FOREIGN KEY (reviewer_id) REFERENCES Reviewers(reviewer_id),
    FOREIGN KEY (book_id) REFERENCES Books(book_id)
);

In [13]:
CREATE TABLE ISBNs (
    isbn_id INT IDENTITY PRIMARY KEY,
    book_id INT,
    format VARCHAR(255) NOT NULL
    CHECK (format IN('paperback', 'ebook', 'audiobook', 'hardbound')),
    price DECIMAL(10, 2),
    FOREIGN KEY (book_id) REFERENCES Books(book_id)
);

In [28]:
INSERT INTO Publishers (name, address, website) VALUES
    ('Sample Publisher 1', '123 Main St', 'www.publisher1.com'),
    ('Sample Publisher 2', '456 Elm St', 'www.publisher2.com');

INSERT INTO Books (title, cover, publisher_id) VALUES
    ('Book Title 1', 'Cover 1.jpg', 1),
    ('Book Title 2', 'Cover 2.jpg', 2);

INSERT INTO ISBNs (book_id, format, price) VALUES
    (1, 'paperback', 19.99),
    (1, 'ebook', 9.99),
    (2, 'hardbound', 29.99);

INSERT INTO Reviewers (name, email) VALUES
    ('Reviewer 1', 'reviewer1@example1.com'),
    ('Reviewer 2', 'reviewer2@example2.com');

INSERT INTO Reviews (reviewer_id, book_id, title, details, rating) VALUES
    (1, 1, 'Review Title 1', 'This is a great book!', 5),
    (2, 1, 'Review Title 2', 'I enjoyed reading this book.', 4);